<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            
            <h1 class="mb-3">Health Monitor</h1>
            <p class="mb-5">Sign In to your account</p>
              <div class="input-group input-group-newsletter">
                <input type="text" class="form-control" placeholder="Enter username..." aria-label="Enter email..." aria-describedby="submit-button">
                <input type="text" class="form-control" placeholder="Enter password..." aria-label="Enter email..." aria-describedby="submit-button">

                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="submit-button">Sign In</button>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  
